# --- CONFIGURAÇÕES DO SERVIDOR BACKEND ---
PORT=3000

# --- CONFIGURAÇÕES DO BANCO DE DADOS (MYSQL) ---
# --- INSERIR VALORES PASSADOS DO AIVEN ---
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# --- SEGURANÇA E SEGREDOS DE AUTENTICAÇÃO ---
JWT_SECRET=
MONITOR_SECRET=

# --- INTEGRAÇÃO COM INTELIGÊNCIA ARTIFICIAL (ANTHROPIC CLAUDE) ---
ANTHROPIC_API_KEY=

# --- CONFIGURAÇÕES DO FRONTEND (EXPO MOBILE) ---
EXPO_PUBLIC_API_URL=http://seu_ipv4:3000